html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {
  margin-top: 80px;
  padding-bottom: 10px;
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.pricing-header {
  max-width: 700px;
}
.card-deck .card {
  min-width: 220px;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.row.signin {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-signin {
  width: 100%;
  padding: 15px;
  margin: auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.main_toast_div {
  position: relative;
  right: 15px;
  z-index: 100;
}
#toast_div {
  position: absolute;
  top: 0;
  right: 0;
}
.schema_list a:hover {
  text-decoration: none;
}
.schema_list .new_schema_href .new_schema  {
  border: 2px dashed rgba(0,0,0,.125);
}
.schema_list .new_schema_href:hover .new_schema {
  border: 2px dashed #007bff !important;
}
.db_canvas .outer_container {
  width: 3000px;
  overflow-x: hidden;
}
.db_canvas .db_container {
  border: 1px solid rgba(0,0,0,.125);
  height: 100%;
  overflow-y: auto;
  background-image: url('/img/square-grid.svg');
}
.db_canvas .card {
  width: 15rem;
}
.db_canvas .card-header {
  padding: 0.34rem 0.25rem;
}
.db_canvas .card-body {
  padding: 0;
}
.db_canvas .table {
  margin-bottom: 0;
  font-size: 14px;
}
.db_canvas .btn-xs {
  font-size: 10px;
  padding: 3px;
}
.text_null {
  color: #B5D6F6;
}
#table_column_listing .tables_listing_div {
  height: 500px;
  overflow-y: auto;
  border-right: 1px solid rgba(0,0,0,.125);
}
#table_column_listing .table_detail {
  height: 500px;
}
.table_detail .card-body {
  padding: 0;
}
.table_detail .card-title {
  padding: 1rem;
  margin-bottom: 0;
}
.table_detail .card-title .form-group {
  margin-bottom: 0;
}
.table_detail .card-footer {
  background-color: transparent;
  padding: 0.25rem 0.50rem;
}
.table_detail .table {
  margin-bottom: 0;
  font-size: 14px;
}
